@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic&subset=latin,latin-ext);
/* header */
.nav-header{
    background: #f5f9ea;
    padding: 10px 0px;
    height: 120px;
}
.frmSearch{
    margin-top: 30px
}

.frmSearch .form-input {
    width: 100%;
    padding: 0px 110px 0px 10px;
    height: 40px;
    border: none;
    background: #fff;
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    font-size: 14px;
    color: #757575;
    border-radius: 0;
    border-top: 1px solid #be60c5;
    border-left: 1px solid #be60c5;
    border-bottom: 1px solid #be60c5;
    float: right
}

.frmSearch .btnSearch {
    border-radius: 0;
    text-transform: none;
    padding: 0 5px;
    width: 100px;
    height: 40px;
    position: absolute;
    right: 0px;
    top: 0;
    margin: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    font-size: 14px;
}
.insButton {
    position: relative;
    z-index: 0;
    border: 1px solid;
    border-color: #be60c5;
    white-space: nowrap;
    padding: 10px 40px;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    display: inline-block;
    background: #be60c5;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
    margin-right: 20px;
    box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.5);
    outline: none !important;
}



#headerCart .itemInfo {
    display: inline-block;
    margin-top: 30px;
    float: left;
}

#headerCart .itemInfo:first-child {
    margin-right: 10px
}
#headerCart .cartBox .icon-cart {
    background: #be60c5 url("images/cart.png") center center no-repeat;
}
#headerCart .userBox .icon-user {
    background: #be60c5 url("images/user.png") center center no-repeat;
}
#headerCart .userBox .icon-user2 {
    border: 1px solid #be60c5;
    padding: 2px;
}
    

#headerCart .itemInfo .icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    vertical-align: middle;
}

#headerCart .itemInfo .text {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    padding: 0px 5px;
}
#headerCart .itemInfo .title {
    font-size: 17px;
    line-height: 1.3;
}

#headerCart .itemInfo .sub {
    display: block;
    font-style: italic;
}

/*end header*/
/* menu */
.nav-menu{
    width: 100%;
    background-color: #be60c5
}
.title-menu-left{
    width: 21%;
    padding: 13px 0 14px;
    background-color: rgba(83, 27, 111, 0.6);
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
}
.box-menu{
    list-style: none;
    margin-left: 12px;
}
.box-menu li{
    float: left;
    text-align: center;
    font-weight: normal;
    -webkit-transition: background-color .5s; /* Safari */
    transition: background-color .5s;
}
.box-menu li a
{
    position: relative;
    padding: 14px 25px;
    overflow: hidden;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
}
.box-menu li:hover{
    background-color: rgba(93, 93, 93, .6);
}

.menuactive{
    background-color: rgba(93, 93, 93, .6);
}
/* end menu */

/* slide */
.nav-slide
{
    width: 100%;
}

.box-slide-left{
    width: 21%;
    background-color: #be60c5
}

.box-slide-right{
    width: 78%;
}
.box-menu-left{
    width: 100%;
    background-color: #fff;
    overflow-y: auto;
}

.box-menu-left .menu-item{
    padding: 11px 10px 12px;
    border-bottom: 1px solid #fbc3ff;
}

.box-menu-left .menu-item a{
    color: #be60c5;
    font-size: 14px;
    text-transform: uppercase;
}

.box-menu-left .menu-item:hover{
    background-color: #f3f3f3
}

.box-menu-left .menu-item.menu-active{
    background-color: #f3f3f3
}



.nav-box-menu{
    position: absolute;
    width: 100%;
    background-color: #f5f9ea;
    top:46px;left: 0px;
    z-index: 10;
    display: none;
}

.nav-box-menu .menu-item{
    padding: 11px 10px 12px;
    border-bottom: 1px solid #fbc3ff;
    border-left: 1px solid #fbc3ff;
    border-right: 1px solid #fbc3ff;
}

.nav-box-menu .menu-item a{
    color: #be60c5;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
}

.nav-box-menu .menu-item:hover{
    background-color: #e2e2e2
}

.box-slide-right .slide{
    width: 100%;
}
.mbslide .slide{
    width: 100%;
}
.mb-nav-menu2
{
    background-color: #be60c5;
    height: 40px;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 38px;
    cursor: pointer;
}
.mb-nav-menu{
    display: none
}
.mb-nav-menu i{
    margin-left: 10px
}
.mb-nav-menu-content2{
    background-color: #fff;
}
.mb-nav-menu-content{
    display: none;
}
.mb-nav-menu-content .menu-item{
    padding: 10px;
    border-bottom: 1px solid #fbc3ff
}
.mb-nav-menu-content .menu-item a{
    color: #be60c5;
    font-size: 14px;
    text-transform: uppercase;
}

.mb-nav-menu-content .menu-item:hover a{
    font-weight: bold
}
.mb-nav-menu-icon{
    position: absolute;
    top: 12px;right: 10px ;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    -ms-transition:all .5s;
}

.title-menu-left .fa-bars{
    margin-left: 10px;
}
.mb-nav-menu-icon2{
    margin-left: 10px;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    -ms-transition:all .5s;
}
.rotated {
    transform: rotate(180deg);
    -ms-transform: rotate(180deg); /* IE 9 */
    -moz-transform: rotate(180deg); /* Firefox */
    -webkit-transform: rotate(180deg); /* Safari and Chrome */
    -o-transform: rotate(180deg); /* Opera */
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    -ms-transition:all .5s;
}
/* end slide */

/*header pollicy*/
.contentSeasion {
    background: #be60c5;
    color: #fff;
}
.info_policy {
    border-right: 1px dotted #fff;
    padding: 0px 10px;
    margin: 15px 0px;
}
.info_policy .icon {
    width: 30px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}

.info_policy .icon img {
    border: none;
    max-width: 100%;
    height: auto;
}

.info_policy .description {
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 45px);
}

.info_policy .description h4 {
    color: #fff !important;
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 0;
    border-bottom: none !important;
    padding-bottom: 5px !important;
}
.info_policy .description p {
    margin: 0;
    font-style: italic;
}
/*end header pollicy*/
.mbCart{
    display: none;
    position: absolute !important;
    right: 15px !important;
    top: 34% !important;
}
.mbToggle{
    display: none;
    position: absolute !important;
    left: 15px !important;
    top: 34% !important;
}
.mbslide{display: none;margin-top: 10px;}
.mbToggle img{width: 30px}
.mbCart a .icon {
    background: #be60c5;
    border-radius: 50%;
    position: relative;
    width: 40px;
    height: 40px;
    line-height: 30px;
    text-align: center;
    display: block;
    color: #fff;
}
.mbCart a .numberCart {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    background: #9c6c49;
    top: -8px;
    right: -5px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    z-index: 5;
    color: #fff;
    font-weight: bold
}
.overlayMenu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.7);
    z-index: 11;
    display: none;
}
.mb-nav-header{
    position: fixed;
    -webkit-overflow-scrolling: touch;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 0px;
    max-width: 95%;
    z-index: 1003;
    background-color: #fff;
    width: 290px;
    border-right: 1px solid #e9e9e9;
    transition: all .4s cubic-bezier(.46,.01,.32,1);
    -ms-transform: translateX(-290px);
    -webkit-transform: translateX(-290px);
    transform: translateX(-290px);

}
.mb-nav-header-show{
    -ms-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
}

.mb-nav-header #navWrap {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding-bottom: 20px;
    overflow-x: hidden;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.navWrap-menu{
    background-color: #be60c5;
    height: 40px;
    line-height: 38px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 10px;
    cursor: pointer;
}

.navSiteMain .menu-item{
    padding: 11px 10px 12px;
    border-bottom: 1px solid #fbc3ff;
}
.navSiteMain .menu-item a{
    color: #be60c5;
    font-size: 14px;
}

.navSiteMain .menu-item:hover{
    background-color: #e2e2e2

}
.userinfo{
    background-color: #be60c5;
    background-size: contain;
    padding: 10px;
    height: 72px
}
.mb-icon-user{
    width: 50px;
}
.mb-icon-user img{
    border: 1px solid #fff;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    max-width: 100%;
    height: auto;
}

.btn-close{
    background-color: #be60c5;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    padding: 8px 20px;
}
.mb-icon-text{
    width: calc(100% - 55px);
}

.mb-icon-text .log{
    color: #fff;
    font-size: 16px;
    padding: 13px;
    cursor: pointer;
    text-transform: uppercase
}

.mb-icon-text .uview{
    color: #fff;
    font-size: 16px;
    padding: 15px 13px;
    cursor: pointer;
    text-transform: uppercase;
}

.mb-icon-text .uout{
    padding: 0px 13px;
}
.mb-icon-text .uout a{
    color: #eaff98;
    font-size: 13px;
    cursor: pointer;
    text-decoration: underline
}

.mb-icon-text .uout a:first-child
{
    text-decoration: none;
    margin-right: 45px;
    color:#fff   
}
/* footer */

.footer-top{
    background-color: #f5f9ea;
}

.footer-static-title h3 {
    color: #555555;
    font-size: 18px;
    font-weight: normal;
    padding: 20px 0 6px;
    text-transform: uppercase;
    border-bottom: 3px solid #ccc
}
.footer-location{
    padding: 10px 0 0;
    font-size: 15px;
    color: #555555;
}
.footer-location-content{
    padding: 10px 20px 0 0;
    color: #999;
    font-size: 14px
}

.footer-location-info{
    padding: 10px 20px 0 0;
    font-size: 14px;
    color: #999;
}

.footer-location-info a{
    color: #999 !important;
}

.footer-static-content{
    margin-bottom: 20px
}

a.facebook {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #3b5998;
    color: #fff;
    margin-top: 10px;
}
.fa-facebook{margin-right:  0 !important}

.footer-bottom{
    background-color: #2f2f2f;

}
.end-footer{
    color: #fff;
    text-align: center;
    padding: 15px 0;
    font-size: 14px
}
/* end footer */
.wrapperContent{
    margin-top: 20px
}
.headingContent {
    border-top: 2px solid #be60c5;
    background: #fff;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
}

.headingContent h2 {
    font-size: 16px;
    padding: 10px 10px 10px 10px;
    color: #fff;
    background: #be60c5;
    display: inline-block;
    text-transform: uppercase
}

.pdListHome .itemProduct {
    padding: 0px 5px;
    margin-bottom: 10px;
}
.pdLoopItem {
    background: #fff;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -ms-transition: all 0.3s ease-in-out 0s;
}
.pdLoopItem:hover {
    -webkit-box-shadow: 0px 5px 10px 0px rgba(138,138,145,0.8);
    -moz-box-shadow: 0px 5px 10px 0px rgba(138,138,145,0.8);
    box-shadow: 0px 5px 10px 0px rgba(138,138,145,0.8);
}

#pd_collection .product-list.view_grid .item_product .pdLoopItem .pdLoopImg > a:before{
    display: inline-block;
    content: '';
    background: rgba(34, 34, 34, 0.6);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
#pd_collection .product-list.view_grid .item_product .pdLoopItem:hover .pdLoopImg > a:before{
    opacity: 1;
    visibility: visible;
    filter: alpha(opacity=100);
}

.pdLoopItem .pdLoopImg {
    position: relative;
    overflow: hidden;
    height: 226px
}

.pdLoopItem .pdLoopImg img {
    max-height: 100%;
    display: block;
    margin: 0 auto;
}
.pdListHome{
    margin: 0px -5px; 
}

.pdLoopItem .pdLoopDetail {
    position: relative;
    padding: 10px;
}
.pdLoopItem .pdLoopDetail .productName {
    font-size: 17px;
    line-height: 1.5;
    height: 25px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}
.productName {
    color: #555555;
}

.pdPrice {
    color: #be60c5;
    margin: 0;
    font-size: 16px;
}
.pdPrice span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.pdComparePrice {
    color: #999999;
    font-size: 14px;
    font-style: italic;
    display: inline-block;
    vertical-align: middle;
}

.pdLoopItem:hover .pdLoopAction {
    bottom: 10px;
    opacity: 1;
    filter: alpha(opacity=100);
    visibility: visible;
}

.pdLoopAction {
    margin: 5px 0px;
    position: absolute;
    bottom: -60px;
    left: 0px;
    right: 0px;
    width: 100%;
    z-index: 14;
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    text-align: center;
}

.pdLoopAction .btnLoop {
    background: #e8b35f;
    border-color: #e8b35f;
}

.pdLoopAction .add-cart {
    display: inline-block !important;
    width: auto;
    padding: 0 10px 0 10px;
    border-radius: 30px !important;
}
.pdLoopAction .btnLoop {
    display: inline-block;
    background: #be60c5;
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
    margin: 0px 5px;
    min-width: 35px;
    border-radius: 50%;
    color: #fff;
    outline: none;
    box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.5);
}
.blockViewAll {
    margin: 0px 0px 20px;
    text-align: center;
}
.blockViewAll .viewAll {
    padding: 7px 25px;
    color: #fff
}

.insButton a{
    color: #fff
}
.insButton:hover{
    background: #fff;
    color: #be60c5 !important;
}
.itemFixed.trans {
    transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    visibility: visible;
    filter: alpha(opacity=10);
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}

.itemFixed.backTop {
    width: 35px;
    height: 35px;
    bottom: 60px;
    text-align: center;
    -webkit-transition-delay: 300ms;
    -moz-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    transition-delay: 300ms;
    right: 18px;
}

.itemFixed.cartFixed {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 33px;
    background: #be60c5;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, .3);
    bottom: 110px;
}

.itemFixed.cartFixed a {
    color: #fff;
}
.not-item p {
    font-size: 16px;
    margin: 15px 0px;
    line-height: 1.5;
}
.itemFixed.cartFixed .numberCart {
    position: absolute;
    width: 28px;
    height: 28px;
    line-height: 28px;
    top: -19px;
    right: -5px;
    background: #fff;
    border-radius: 50%;
    overflow: hidden;
    color: #be60c5;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, .3);
    text-align: center;
    font-size: 13px;
    z-index: 5;
    font-weight: bold
}

.fa-shopping-basket{
    font-size: 14px !important;
    position: absolute;
    top: 12px;
    right: 7px;
}

.itemFixed {
    margin-top: 10px;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 12;

    transform: translate(50px, 20px);
    -ms-transform: translate(50px, 20px);
    -webkit-transform: translate(50px, 20px);
    visibility: hidden;
    filter: alpha(opacity=0);
    -khtml-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
}

.cartFixed.loading:after {
    content: '';
    border: 2px solid #f8f8f8;
    border-top: 2px solid #1ba8ff;
    border-top-color: #be60c5;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: -2px;
    left: -2px;
    z-index: 0;
    opacity: 1;
}
@keyframes spin {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

.insBreadcrumb {
    background: #efefef;
}
.insBreadcrumb .breadcrumb {
    margin: 0;
    background: transparent;
    padding: 0;
}
.insBreadcrumb .breadcrumb li {
    display: inline-block;
    background-color: #5a5a5a;
}
.insBreadcrumb .breadcrumb li a,
.insBreadcrumb .breadcrumb li span {
    position: relative;
    background: #efefef;
    height: 40px;
    line-height: 40px;
    display: block;
    padding-right: 10px;
    color: #999;
    margin-right: 23px;
    font-size: 15px;
    font-weight: 300;
} 
.insBreadcrumb .breadcrumb li span {
    margin-right: 0;
}
.insBreadcrumb .breadcrumb li a:before,
.insBreadcrumb .breadcrumb li a:after,
.insBreadcrumb .breadcrumb li span:before,
.insBreadcrumb .breadcrumb li span:after{
    content: "";
    position: absolute;
    top: 0;
    border: 0 solid #efefef;
    border-width: 20px 7px 20px 17px;
    width: 0;
    height: 0;
}
.breadcrumb-wrap .breadcrumb li:first-child a:before, .breadcrumb-wrap .breadcrumb li:first-child span:before, .breadcrumb-wrap .breadcrumb li:last-child a:after, .breadcrumb-wrap .breadcrumb li:last-child span:after {
    border: none;
}
.breadcrumb-wrap .breadcrumb li:nth-child(even) a:before, .breadcrumb-wrap .breadcrumb li:nth-child(even) span:before {
    border-color: #efefef #efefef #efefef transparent;
}
.breadcrumb-wrap .breadcrumb li:nth-child(even) a:after, .breadcrumb-wrap .breadcrumb li:nth-child(even) span:after {
    border-left-color: #efefef;
}
.insBreadcrumb .breadcrumb li a:before,
.insBreadcrumb .breadcrumb li span:before{
    left: -26px;
    border-left-color: transparent;
}

.insBreadcrumb .breadcrumb li a:after,
.insBreadcrumb .breadcrumb li span:after{
    right: -23px;
    border-color: transparent transparent transparent #efefef;
}
.insBreadcrumb .breadcrumb >li+li:before{
    display: none;
}

.wrapperPdPage .pdBlockDetail {
    padding: 20px 0px;
}

.wrapPdInfo .pdTitle {
    font-size: 24px;
    font-weight: 300;
    color: #333;
    line-height: 30px;
    margin: 0px 0 10px;
    text-transform: uppercase;
}

.wrapPdInfo p.item {
    margin-bottom: 8px;
    color: #8c8c8c;
    font-size: 16px
}

.wrapPdInfo p.item span
{
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.wrapPdInfo p.item span.pdLabelPrice {
    display: inline-block;
    width: 120px;

}

span.pdLabelTag{
    font-size: 18px
}

.wrapPdInfo p.item #pdPriceNumber {
    color: #ff5c00;
    font-size: 18px;
    font-weight: 500;
}

.wrapPdInfo .pdPriceBoxInfo .pdPriceWrap {
    border-right: 1px solid #eaeaea;
}
.wrapPdInfo .pdPriceBoxInfo .pdPriceWrap .wrapBlockInfo {
    padding: 10px 0px;
}

pdPolicyWrap .pdPolicyWrap {
    padding-top: 10px;
}
.pdPolicyWrap .pdPolicyWrap ul.listPolicy {
    padding: 0;
    margin: 0;
}

.pdPolicyWrap .pdPolicyWrap ul.listPolicy li.item {
    display: block;
    position: relative;
    border-bottom: 1px dashed #eaeaea;
    padding: 10px 0px;
}

.pdPolicyWrap ul.listPolicy li.item .detail {
    display: inline-block;
    width: calc(100% - 45px);
    vertical-align: middle;
}

.pdPolicyWrap ul.listPolicy li.item .detail h5 {
    text-transform: uppercase;
    font-size: 13px;
    margin-bottom: 5px;
    color: #555555;
}

.pdPolicyWrap ul.listPolicy li.item .detail span {
    display: block;
    font-size: 13px;
    line-height: 1.3;
    font-style: italic;
    color: #555555;
}

.pdPolicyWrap ul.listPolicy li.item .icon {
    width: 35px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;
}

.wrapPdInfo .pdPriceBoxInfo{
    border-top: 1px solid #eaeaea;
}

.wrapPdInfo p.item span#pdComparePriceNumber {
    text-decoration: line-through;
    font-style: italic;
    color: #999999;
    font-size: 18px
}

.wrapPdInfo p.item span#pdCompareSalePrice{font-size: 18px}
.wrapBlockInfo .pdPrice {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #eaeaea;
}
.wrapBlockInfo .shortDesc {
    padding-bottom: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    border-bottom: 1px solid #eaeaea;
    color: #999;
    font-size: 15px;
}

.wrapBlockInfo .groupQty {
    display: inline-block;
    margin: 10px 0px;
    background: #eaeaea;
    position: relative;
    line-height: 1;
    border-radius: 3px;
    overflow: hidden;
}

.wrapBlockInfo .groupQty .qtyControl {
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 20px;
    background: #eaeaea;
    border: none;
    padding: 0;
    text-align: center;
    font-size: 20px;
    vertical-align: middle;
    font-family: arial !important;
    outline: none;
}

.wrapBlockInfo .groupQty input {
    width: 50px;
    margin: 0 auto;
    border: 3px solid #eaeaea;
    height: 30px;
    text-align: center;
    padding: 0;
    vertical-align: middle;
}

.actionCart .btn-addCart:hover {
    filter: alpha(opacity=80);
    -khtml-opacity: 0.8;
    -moz-opacity: 0.8;
    opacity: 0.8;
}

.actionCart .button {
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    background: #ff5c00;
    border: 1px solid;
    border-color: #ff5c00;
    color: #fff;
    outline: none;
    width: 100%;
}

.actionCart .button.btn-Soldout {
    background: #555;
    border: none;
    cursor: default;
}

.actionCart .button small {
    display: block;
    text-transform: none;
    font-weight: normal;
    font-size: 90%;
}

.wrapperPdPage .pdBlockDetail {
    padding: 20px 0px;
}

.listTabs .nav-tabs li.active a, .listTabs .nav-tabs li a:hover {
    border: none;
    border-bottom: 3px solid;
    border-color: #be60c5;
    color: #be60c5;
}
.listTabs .nav-tabs li a {
    margin: 0;
    text-transform: uppercase;
    border: none;
    border-bottom: 3px solid transparent;
    background: transparent !important;
    font-size: 15px;
}

.headingSeasion {
    border-top: 2px solid;
    border-top-color: #be60c5;
    background: #fff;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
}

.headingSeasion h2 {
    font-size: 16px;
    padding: 10px 10px 10px 10px;
    color: #fff;
    background: #be60c5;
    display: inline-block;
}

.owlDesign .owl-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5px;
    line-height: 1;
    font-size: 0;
    padding: 5px;
    /* background: rgba(0, 166, 81, .2); */
    background: #f4f8fa;
    display: none !important;
}

.owlDesign.owl-carousel .owl-nav button {
    width: 30px;
    height: 50px;
    font-size: 25px;
    text-align: center;
    background: rgba(255, 255, 255, .8);
    border: 1px solid;
    border-color: #be60c5;
    color: #be60c5;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    font-family: -webkit-body;
    opacity: 1;
    filter: alpha(opacity=100);
    visibility: visible;
}

.owlDesign.owl-carousel .owl-nav button.owl-prev {
    left: 0px;
}

.owlDesign.owl-carousel .owl-nav button.owl-next {
    right: 0px;
    
}
.owlDesign:hover .owl-nav button:hover {
    background: #be60c5;
    color: #fff;
}


.collectionBanner img {
    width: 100%;
}
.collection_head {
    padding: 20px 0px;
    background: #fff;
    margin-bottom: 20px;
}

.page_head {
    position: relative;
}
.page_head span.countPd {
    margin-left: 5px;
    color: #555555;
    font-size: 13px
}
.page_head .collection_title
{
    font-size: 28px;
    color: #555555;
    padding-bottom: 5px
}
.toggleFilter {
    position: absolute;
    right: 75px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.toggleFilter a {
    display: block;
    font-size: 20px;
    line-height: 25px;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border: 1px solid transparent;
    text-align: center;
    border-radius: 0;
    border-color: #be60c5;
    color: #be60c5;
}
.toggleFilter a:hover {
    background: #be60c5;
    color: #fff;
}
.toggleFilter a i
{
    margin-right: 0px !important
}

.collection_head .display-product-option {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.display-product-option {
    width: 63px;
    height: 30px;
}
.notStyle {
    list-style: none;
    padding: 0;
    margin: 0;
}

.display-product-option li.selected span, .display-product-option li:hover span {
    background-color: #ff5c00;
}
.display-product-option li.selected span, .display-product-option li:hover span {
    background-color: #ff5c00;
    background-position: 0 -30px;
}
.display-product-option li.view-as-grid span {
    width: 30px;
    height: 30px;
    display: block;
    cursor: pointer;
    text-indent: -9999px;
    background: url('images/grid-view-bg.png') #666;
    border: none;
    float: left;
}

.display-product-option li.view-as-list span {
    width: 30px;
    height: 30px;
    display: block;
    cursor: pointer;
    text-indent: -9999px;
    background: url('images/list-view-bg.png') #666;
    border: none;
    float: right;
}

.display-product-option li.selected span, .display-product-option li:hover span {
    background-color: #be60c5;
}
.display-product-option li.selected span, .display-product-option li:hover span {
    background-color: #be60c5;
    background-position: 0 -30px;
}

.browse-tags {
    position: absolute;
    right: 65px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    font-size: 14px;
}
.browse-tags span {
    display: inline-block;
    line-height: 30px;
}
.browse-tags span {
    display: inline-block;
    line-height: 30px;
}
.browse-tags select {
    height: 30px;
    border: 1px solid #ccc;
    outline: none;
}

#pd_collection ul.product-list {
    margin: 0px -15px;
}
.product-list.products .item_product {
    margin-bottom: 30px;
}
.modal-title{
    text-align: center;
    text-transform: uppercase;
    color: #be60c5;

}

.boxLogin i{
    margin-right: 0 !important
}
.boxLogin .customerGroup {
    position: relative;
}

.boxLogin .customerGroup .iconFrm {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border-right: 1px solid #eaeaea;
}

.boxLogin .customerGroup input {
    padding: 0px 10px 0px 50px;
    height: 35px;
    box-shadow: none;
    border-color: #eaeaea;
    background: transparent;
    border-radius: 4px;
    font-size: 14px;
    color: #999;
    outline: none !important;
    margin-bottom: 10px;
}

.modal-footer {
    text-align: left
}
.modal-header{
    padding: 10px !important
}

.btn-my {
    color: #fff;
    background-color: #be60c5;
    border-color: #be60c5;
}
.color{
    color: #be60c5 !important
}
.boxLogin .customerGroup button {
    width: 100%;
    margin: 0;
    border-radius: 3px;
    box-shadow: none;
    font-size: 14px;
    padding: 5px;
}
.boxLogin .customerGroup .forgetPass {
    display: block;
    margin-bottom: 10px;
    text-decoration: underline;
}
.boxLogin .customerGroup .forgetPass:hover {
    color: #be60c5;
}
.boxLogin .customerGroup .reg {
    margin: 5px 0px 0px 0px;
}
.boxLogin .customerGroup .reg a {
    color: #be60c5;
    font-style: italic;
}
.loginSocial{
    padding: 10px 0px;
}
.loginSocial button.btsocialloginfb {
    background: #546ea6 url(images/facebook.png) no-repeat 0 center;
}
.loginSocial button.btsociallogingg {
    background: #df5656 url(images/googleplus.png) no-repeat 0 center;
}
.loginSocial button {
    margin: 0 5px;
    padding-right: 10px;
    text-indent: 30px;
    line-height: 24px;
    border-radius: 12px;
    color: #fff;
    border: none;
    outline: none;
}
div#loginApp {
    margin: 20px 0px;
}
#loginApp h4 {
    text-align: center;
    font-size: 16px;
    color: #666666;
    text-transform: uppercase;
    margin-bottom: 20px
}
.liner-or {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #dfdfdf;
}
.liner-or span {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -13px;
    background: #f3f3f3;
    display: inline-block;
    padding: 5px;
    color: #999999;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
}
h1.title-box-login {
    text-align: center;
    font-size: 16px;
    color: #666666;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 20px;
}
.col_full {
    display: block;
    position: relative;
}
.not-null {
    position: absolute;
    top: 25px;
    right: 5px;
    color: #ed1846;
    font-size: 20px;
    z-index: 1;
}
.icon_checkout.ico-email {
    background-position: 0 -44px;
}
.icon_checkout.ico-pass {
    background-position: 0 -154px;
}
.icon_checkout {
    background: url('images/icon-checkout.png') 0 0 no-repeat;
    background-size: 300px;
    width: 22px;
    height: 22px;
    display: inline-block;
    position: absolute;
    top: 24px;
    left: 12px;
}
.content-cus-form {
    width: 480px;
    margin: 0 auto;
}
.content-cus-form .col_full.action {
    text-align: center;
}
.content-cus-form .col_full > input {
    border: 1px solid #cccccc;
    height: 40px;
    border-radius: 0;
    font-weight: normal;
    padding-top: 0;
    padding-bottom: 0;
    outline: none !important;
    box-shadow: none !important;
    padding-left: 42px;
    width: 100%;
    margin-top: 15px !important;
}
.content-cus-form .col_full > button {
    width: 100%;
    margin-top: 20px !important;
    display: block;
    height: 40px;
    border: 1px solid #be60c5;
    background: #be60c5;
    color: #fff;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
a:hover {
    color: #be60c5;
}
.box-login-two{
    padding-bottom: 20px
}
.icon_checkout.ico-name {
    background-position: 0 -22px;
}
.content-cus-form .col_full.action {
    text-align: center;
}
.frmSignup{
    float: inherit;
    margin: auto;
}
.success{color: green;}
.erres{color: red;}
.border-error{
    border: 1px solid red !important;
}
.log-loading{
    position: absolute;
    top: 20px;
    right: 10px;
}
#bg-loading{
    display: none;
    position: fixed;
    width: 100%;
    top:0px;left: 0px;
    height: 100%;
    z-index: 100000;
    background-color: rgba(0,0,0, .4);
}
#bg-loading img{
    position: absolute;
    z-index: 100001;
}
.box-alert{
    margin: 20px 0 10px
}

/*scroll*/
#my-scroll::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

#my-scroll::-webkit-scrollbar
{
    width: 3px;
    background-color: #F5F5F5;
}

#my-scroll::-webkit-scrollbar-thumb
{
    background-color: #be60c5;	
    background-image: -webkit-linear-gradient(45deg,
        rgba(255, 255, 255, .2) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, .2) 50%,
        rgba(255, 255, 255, .2) 75%,
        transparent 75%,
        transparent)
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #be60c5;
    border-color: #be60c5;
}

.pagination>li>a, .pagination>li>span {
    color: #be60c5;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    color: #be60c5;
    background-color: #eee;
    border-color: #ddd;
}
.pdLoopItem .pdLoopDetail .pdLoopListView {
    display: none;
}


#pd_collection .product-list.view_list .item_product {
	width: 50%;
}
#pd_collection .product-list.view_list .item_product .pdLoopImg {
	width: 30%;
	float: left;
}
#pd_collection .product-list.view_list .item_product .pdLoopDetail {
	float: left;
	width: 70%;
	padding: 10px;
	text-align: left;
}
#pd_collection .product-list.view_list .item_product .listAction {
	display: none
}
#pd_collection .product-list.view_list .item_product .pdLoopDetail .pdPrice {
	text-align: left;
}
#pd_collection .product-list.view_list .item_product .pdLoopDetail .pdLoopListView {
	display: block;
	text-align: left;
}
#pd_collection .product-list.view_list .item_product .pdLoopAction .add-cart span {
	display: none;
}

.pdLoopAction_list {
    margin: 10px 0px;
    width: 100%;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.pdLoopAction_list .btnLoop {
    background: #e8b35f;
    border-color: #e8b35f;
}

.pdLoopAction_list .add-cart {
    display: inline-block !important;
    width: auto;
    padding: 0 10px 0 10px;
    border-radius: 30px !important;
}
.pdLoopAction_list .btnLoop {
    display: inline-block;
    background: #be60c5;
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
    margin-right: 5px;
    min-width: 35px;
    border-radius: 50%;
    color: #fff;
    outline: none;
    box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.5);
}
.text-info{
    color: #31708f !important;
}

.listTabs .tab-content .content {
    padding: 20px 0;
    color: #555555;
    font-size: 15px;
}
.tab-pane p img, .tab-pane div img{
    margin: 10px 0;
    max-width: 600px;
    width: 100%;
    height: auto
}
.tab-pane a img{
    margin: 10px 0;
    width: auto;
    height: auto;
}
.tab-pane p{
    font-size: 15px;
    line-height: 25px;
}
.tab-pane ul{
    font-size: 15px;
    padding-left: 15px
}

.add-cart-big{
    position: relative;
    top: 0px;
    z-index: 10
}
.searchload{
    position: absolute;
    right: 104px;
    width: 21px;
    top: 10px;
    display: none
}

.ajaxSearchAuto {
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    z-index: 10;
    background: #fff;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.26);

}

.icon-action-edit {
    color: #548af1;
}
.icon-action {
    font-size: 18px !important;
    margin: 0px 5px;
    cursor: pointer;
}
.icon-action-delete {
    color: #d02121;
}

.ajaxSearchAuto .itemResults {
    padding: 5px;
    border-bottom: 1px solid #eaeaea;
}
.ajaxSearchAuto .itemResults .image {
    width: 50px;
    margin-right: 10px;
}
.ajaxSearchAuto .itemResults .image img {
    max-height: 50px;
    display: block;
    margin: 0 auto;
}
.ajaxSearchAuto .itemResults .info {
    width: calc(100% - 60px);
}
.ajaxSearchAuto .itemResults .info a {
    float: left;
    max-width: 65%;
    font-size: 14px;
    margin-top: 15px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    -moz-line-clamp: 1;
    -moz-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}
.ajaxSearchAuto .itemResults .info .pdPrice {
    float: right;
    margin-top: 5px;
}
.ajaxSearchAuto .itemResults .pdComparePrice {
    font-size: 12px;
    margin-right: 5px;
    display: block;
    text-align: right;
}
.ajaxSearchAuto .resultsMore {
    padding: 10px;
    text-align: center;
}
.ajaxSearchAuto .resultsMore a{
    font-size: 13px;
    color: #be60c5;
    text-decoration: underline;
}
.pdLabel.sale {
    background: #ea711b;
    color: #ffffff;
    right: 7px;
    left: auto;
}
.pdLabel.sale:before {
    content: "";
    border-right: 17px solid transparent;
    border-left: 17px solid transparent;
    border-bottom: 17px solid #ea711b;
    border-bottom-color: #ea711b;
    position: absolute;
    top: -6px;
    right: -7px;
    transform: rotate(30deg);
}
.pdLabel {
   font-size: 14px;
    text-align: center;
    display: block;
    width: 44px;
    height: 44px;
    z-index: 7;
    border-radius: 50%;
    line-height: 43px;
    position: absolute;
    top: 13px;
    left: 20px;
}
.pdPriceBoxInfo .pdPriceWrap p.item span#pdCompareSaleOff {
    display: inline-block;
    margin-left: 15px;
    font-size: 15px;
    color: #ff5c00;
    font-style: italic;
}

.user-box-info{
    position: absolute;
    top:45px;left: 0px;
    width: 180px;
}
.user-info-item{
    padding: 8px 10px;
}
.user-info-item.line{border-top: 1px solid #ccc}

.cart_header_labels {
    margin: 15px 0px;
    margin: 10px 0px 15px 0px;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 0px;
}

.cart_header_labels > div {
    font-size: 15px;
}

.boxCart .ajax_content_cart {
    font-size: 12px;
    font-weight: 300;
    color: #666666;
    overflow: auto;
        padding-top: 10px;
}

.boxCart .list_product_cart:last-child {
    border-bottom: 0;
}
.boxCart .list_product_cart {
    text-align: center;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #aaa;
}
.cpro_item_inner img.img-responsive{
    display: inline;
}

.boxCart .title a.product_name {
    margin-bottom: 10px;
}
.boxCart .product_name {
    margin: 0px;
    text-align: left;
    font-size: 15px;
    display: block;
    text-transform: none;
    letter-spacing: 0px;
}
.cpro_item_inner span.price.product-price {
    font-size: 20px;
}
.ajaxcart__qty {
    display: inline-block;
    margin: 0;
}
input.ajaxcart__qty-num {
    width: 50px;
    height: 30px;
    text-align: center;
    border: 1px solid #7b7b7b;
    color: #222;
    padding: 0;
}
.cartload{
    position: absolute;
    top: 0px;
    left: 85px;
    display: none
}
.boxCart .list_product_cart .cpro_item.remove a {
    display: inline-block;
    font-size: 18px;
}

.rightCart .list_button_cart {
    padding: 20px 0px 30px;
}
.list_button_cart .actionCart p {
    margin: 0px 0px 20px;
    float: left;
    width: 100%;
}

.list_button_cart p span.cart__subtotal-title {
    font-size: 20px;
    text-transform: uppercase;
    color: #5f5f5f
}
.list_button_cart p span {
    margin: 0;
}
.list_button_cart p span.money {
    color: #ba14c5;
}
.insButton {
    float: none;
    display: inline-block;
    vertical-align: middle;
    width: auto;
    padding: 8px 10px;
    margin: 0px 5px;
}
.boxCart.rightCart{background-color: #fff9f3;}
.pd_saler {
    margin-top: 20px;
}
.pd_saler h3 {
    font-size: 17px;
    color: #5a5a5a;
    padding-bottom: 5px;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 10px;
}
.pd_saler p {
    display: block;
    width: 100%;
    padding-bottom: 10px;
    line-height: 20px;
    color: #292929;
    font-size: 14px;
}
.text-note{
    font-style: italic;
    font-size: 13px;
    color: #f1bb55    
}

.material-switch > input[type="checkbox"] {
    display: none;
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
}


.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    background-color: #428bca;
    top: -2px;
}

.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 12px;
    margin-top: -6px;
    position: absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 29px;
    left: -8px;
}

.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 5px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 16px;
    left: -9px;
    margin-top: -7px;
    position: absolute;
    top: -1px;
    transition: all 0.3s ease-in-out;
    width: 16px;
}

.ttl-box {
    height: 30px;
}
.block-info{
    margin: 15px 0 20px
}
.ttl-box .tl {
    float: left;
    font-size: 18px;
    color: #be60c5;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    display: block;
    margin-bottom: 5px;
}

.block-info .box-step {
    padding: 10px 20px;
    border: 1px solid #e3e3e3;
    border-radius: 2px;
    background: #fff;
    border-radius: 5px
}
.material-form {
    font-size: 14px;
}

.box-step .cols-info {
    padding-right: 15px;
    padding: 10px 0 10px;
}
.cols-info .box-n label {
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    color: #666;
    position: relative;
    padding-left: 20px;
}

.cols-info .box-n label input[type=radio] {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    display: none;
}
.cols-info .box-n label input[type="radio"]:checked~b:before, .cols-info.checked .box-n label b:before {
    border: 2px solid #c56060;
}
.cols-info .box-n label b:before {
    content: '';
    cursor: pointer;
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    left: 0px;
    top: 1px;
    border: 2px solid #666;
    background-color: #f5f5f5;
}
.cols-info .box-n label input[type="radio"]:checked~b:after, .cols-info.checked .box-n label b:after {
    opacity: 1;
}
.cols-info .box-n label b:after {
    opacity: 0;
    content: '';
    position: absolute;
    width: 9px;
    height: 9px;
    background: #c56060;
    border-radius: 100%;
    top: 4px;
    left: 3px;
}
.box-step .cols-info .info {
    margin-top: 3px;
    line-height: 18px;
    height: 20px;
    overflow: hidden;
    position: relative;
    font-size: 13px;
    padding: 0 20px 0 20px;
}

.box-place {
    margin-bottom: 5px;
    overflow: hidden;
    line-height: 20px;
}
.box-place .vct {
    line-height: 20px;
    white-space: nowrap;
}
.box-place .vct strong {
    color: #4cb745;
}
.box-place .place_pickup strong {
    color: #ff8d55;
}
.place_pickup {
    line-height: 20px;
    white-space: nowrap;
    margin-top: 5px
}

.box-step .cod-payment {
    position: relative;
    margin: 5px 0px;
}
.box-step .cod-payment .title, .box-step .online-payment .title, .box-step .installment-payment .title {
    position: relative;
    min-height: 40px;
    display: block;
    padding-left: 25px;
    max-width: 300px;
}
.box-step .cod-payment .title input[type="radio"], .box-step .online-payment .title input[type="radio"], .box-step .installment-payment .title input[type="radio"] {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    display: none;
}
.box-step .cod-payment .title .bg, .box-step .online-payment .title .bg, .box-step .installment-payment .title .bg {
    width: 51px;
    height: 40px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 25px;
}
.box-step .cod-payment .title .bg i, .box-step .online-payment .title .bg i, .box-step .installment-payment .title .bg i
{
    color: #fff;
    font-size: 25px;
    margin-left: 10px;
    margin-top: 8px;
}
.box-step .cod-payment .title input[type="radio"]:checked~.bg:before, .box-step .online-payment .title input[type="radio"]:checked~.bg:before, .box-step .installment-payment .title input[type="radio"]:checked~.bg:before {
    border: 2px solid #c56060;
}
.box-step .cod-payment .title .bg:before, .box-step .online-payment .title .bg:before, .box-step .installment-payment .title .bg:before {
    content: '';
    cursor: pointer;
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    left: -26px;
    top: 11px;
    border: 2px solid #666;
    background-color: #f5f5f5;
}
.box-step .cod-payment .title input[type="radio"]:checked~.bg:after, .box-step .online-payment .title input[type="radio"]:checked~.bg:after, .box-step .installment-payment .title input[type="radio"]:checked~.bg:after {
    opacity: 1;
}
.box-step .cod-payment .title .bg:after, .box-step .online-payment .title .bg:after, .box-step .installment-payment .title .bg:after {
    opacity: 0;
    content: '';
    position: absolute;
    width: 9px;
    height: 9px;
    background: #c56060;
    border-radius: 100%;
    top: 14px;
    left: -23px;
}
.box-step .cod-payment .title .txt, .box-step .online-payment .title .txt, .box-step .installment-payment .title .txt {
    height: 40px;
    display: block;
    line-height: 40px;
    color: #fff;
    text-transform: uppercase;
    padding: 0 10px 0 50px;
    font-weight: bold;
    background-color: #c56060;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
}
.online-payment .tkiem-text, .cod-payment .cod-text {
    display: block;
    padding-top: 3px;
    line-height: 18px;
    font-size: 11px;
}
.cod-payment .cod-text b{
    color: #4cb745;
}
.cod-payment label, .online-payment label{cursor: pointer}
.box-step .online-payment {
    margin: 5px 0px;
    position: relative;
}
.box-step .online-payment .title .bg {
    background-position: 0 -48px;
}

.box-step .online-payment .title .txt {
    background-color: #3498db;
}
.pay-cart .bgline {
    width: 100%;
    margin-top: 15px;
}
.pay-cart .bgline p{
    font-size: 18px;
    color: #be60c5;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    display: block;
}

.box-cart-pay{
    width: 100%;
    height: auto;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #e3e3e3;
    border-radius: 2px;
    border-radius: 5px;
    position: relative;
    color: #666;
}
.hanging-lefts{
    height: 38px;
    width: 5px;
    background-color: #ccc;
    top: 14px;
    left: 45px;
    position: absolute;
    z-index: 1;
}
.pay-cart-img{
    width: 68px;
    height: 68px;
    float: left
}
.pay-cart-img img{
    max-height: 100%;
    display: block;
    margin: 0 auto;
}
.pay-cart-desc{
    float: right;
    width: calc(100% - 88px);
}

.pay-cart-desc .name {
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    color: #666
}
.pay-cart-desc .box-sl{
    display: table;
    margin-bottom: 5px;
    width: 100%;
    margin-top: 10px;
    font-size: 13px;
    color: #666
}
.pay-cart-desc .box-sl .tl {
    display: table-cell;
    vertical-align: middle;
    width: 80px;
}
.pay-cart-desc .box-sl input {
    display: table-cell;
    width: 60px;
    text-align: center;
    height: 25px;
    border: 1px solid #ccc;
    vertical-align: middle;
    padding: 0px
}
.pay-cart-desc .box-sl .xg {
    line-height: normal;
    vertical-align: middle;
    margin-left: 10px;
    float: right
}
.box-cart-pay .itemLoop{padding: 10px 0px;border-bottom: 1px dotted #ccc;}
.box-cart-pay .itemLoop:last-child{border-bottom:none}

.box-cart-pay .tt-in-order {
    line-height: 18px;
    overflow: hidden;
    padding: 15px 0;
    border-top: 1px dashed #ddd;
    font-size: 16px
}

.box-cart-pay .tt-in-order span.fr{
    float: right
}
.tt-in-order-pvc span.fl{
    font-weight: normal;
    font-size: 14px
}
.tt-in-order-pvc span.fr{
    font-weight: normal;
    font-size: 14px;
    float: right
}
.tt-in-order-finaly{
    margin-top: 15px;
    line-height: 18px;
    overflow: hidden;
    padding: 10px 0;
    border-top: 1px dashed #ddd;
    font-size: 16px
}
.tt-in-order-finaly span.fl{
    font-weight: normal;
    font-size: 17px;
    text-transform: uppercase;
    color: #e22e2e;
}
.tt-in-order-finaly span.fr{
    font-weight: normal;
    font-size: 18px;
    float: right;
    color: #e22e2e;
}
.btn-checkout {
    background: #e22e2e;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    line-height: 40px;
    width: 100%;
    font-weight: bold;
    margin-top: 10px
}
.box-cart-pay .note{
        margin-top: 10px;
}

.box-cart-pay .note span {
    display: block;
    margin-bottom: 5px;
}
.box-cart-pay  .note textarea {
    width: 98%;
    padding: 5px;
    height: 60px;
    resize: vertical;
    border: 1px solid #ddd;
    float: left;
}
.title-contact{
    font-size: 15px;
    padding: 15px 0 5px;
    color: #666
}
.contact-hoalan{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    color: #be60c5;
    padding-top: 10px
}
.contact-more{
    font-size: 15px;
    color: #666
}
.error{
    color: #d64040;
}
.box-confirm{
    background-color: #fff9e1;
    padding: 10px;
    font-size: 14px;
    margin: 20px 0 20px;
    color: #666;
    line-height: 20px;
}

.pop-cart-item{
    margin-bottom: 10px;
    border: 1px solid #dedede;
    margin-top: 20px
}

.pop-cart-item .pop-header{
    background-color: #f5f5f5;
    padding: 5px 10px
}

.pop-box{
    padding: 5px 10px 10px;
    background: #f5f5f5;
    margin: 15px 0px;
}
.pop-box .itemLoop {
    padding: 5px 0px;
    border-bottom: 1px dotted #ccc
}
.pop-box .itemLoop:last-child {
    border-bottom: none
}
.pop-box p{
    line-height: 25px
}
.pop-box-price{
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
    font-weight: bold    
}

.pop-box-price span{
    float: right
}
.box-cancel{
    padding: 10px 20px;
    border-radius: 10px;
    color: #d68d1e;
    background-color: #fffad3;
    font-size: 13px;
    float: left;
    margin-bottom: 20px;
    border: 1px solid #d98d1e;
}

.navSiteMain .menu-items {
    padding: 8px 10px 9px;
    background-color: #f5f9ea
}
.navSiteMain .menu-items a {
    font-size: 14px;
}